POSTGRES_URL="postgres://:@ep-delicate-recipe-93733987-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://:@ep-delicate-recipe-93733987-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://:@ep-delicate-recipe-93733987.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER=""
POSTGRES_HOST="ep-delicate-recipe-93733987-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD=""
POSTGRES_DATABASE="verceldb"